In [114]:
import pandas as pd

In [115]:
df=pd.read_csv("../../data/titanic.csv")
df.head(10)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,"Moran, Mr. James",3,male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,"McCarthy, Mr. Timothy J",1,male,54.0,0,0,17463,51.8625,E46,S,0
7,8,"Palsson, Master. Gosta Leonard",3,male,2.0,3,1,349909,21.0750,NaN,S,0
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",3,female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",2,female,14.0,1,0,237736,30.0708,NaN,C,1

In [116]:
df=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1)

In [117]:
inputs=df.drop('Survived',axis='columns')

In [118]:
target=df.Survived

In [119]:
dummies=pd.get_dummies(inputs.Sex)

In [120]:
dummies.head(10)

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1
5       0     1
6       0     1
7       0     1
8       1     0
9       1     0

In [121]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(10)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1
5       3    male   NaN   8.4583       0     1
6       1    male  54.0  51.8625       0     1
7       3    male   2.0  21.0750       0     1
8       3  female  27.0  11.1333       1     0
9       2  female  14.0  30.0708       1     0

In [122]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)

In [123]:
inputs.head(10)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0
5       3   NaN   8.4583       0
6       1  54.0  51.8625       0
7       3   2.0  21.0750       0
8       3  27.0  11.1333       1
9       2  14.0  30.0708       1

In [124]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [125]:
inputs.Age[:7]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
Name: Age, dtype: float64

In [126]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())

In [127]:
inputs.Age[:7]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
Name: Age, dtype: float64

In [128]:
from sklearn.model_selection import train_test_split
x_train,  x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.3)

In [129]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [130]:
model.fit(x_train,y_train)

GaussianNB()

In [131]:
model.score(x_test,y_test)

0.7985074626865671

In [141]:
x_test[:10]

     Pclass        Age      Fare  female
16        3   2.000000   29.1250       0
689       1  15.000000  211.3375       1
62        1  45.000000   83.4750       0
318       1  31.000000  164.8667       1
50        3   7.000000   39.6875       0
571       1  53.000000   51.4792       1
643       3  29.699118   56.4958       0
713       3  29.000000    9.4833       0
867       1  31.000000   50.4958       0
833       3  23.000000    7.8542       0

In [133]:
y_test[:10]

16     0
689    1
62     0
318    1
50     0
571    1
643    1
713    0
867    0
833    0
Name: Survived, dtype: int64

In [135]:
model.predict(x_test[0:10])

array([0, 1, 1, 1, 0, 1, 0, 0, 0, 0])

In [137]:
model.predict_proba(x_test[0:10])

array([[9.05704984e-01, 9.42950156e-02],
       [4.77780478e-09, 9.99999995e-01],
       [2.96514368e-01, 7.03485632e-01],
       [6.97323600e-06, 9.99993027e-01],
       [9.11405498e-01, 8.85945024e-02],
       [4.92054890e-02, 9.50794511e-01],
       [9.20422556e-01, 7.95774445e-02],
       [9.61704816e-01, 3.82951841e-02],
       [6.79831111e-01, 3.20168889e-01],
       [9.58283093e-01, 4.17169069e-02]])