In [1]:
import pandas as pd
from datetime import date

In [6]:
# defining datasets
data = pd.DataFrame({'date':
                         ['01-10-1917',
                          '27-09-1818',
                          '07-07-2007',
                          '27-07-1779',
                          '20-09-1927',
                          ]})
data

         date
0  01-10-1917
1  27-09-1818
2  07-07-2007
3  27-07-1779
4  20-09-1927

In [7]:
#format string to ISO datetime or any other date format
data['date'] = pd.to_datetime(data.date, format="%d-%m-%Y")
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['passed_years'] = date.today().year - data['date'].dt.year
data['passed_months'] = (date.today().year - data['date'].dt.year) * 12 + date.today().month - data['date'].dt.month
data['day_name'] = data['date'].dt.day_name()

data

        date  year  month  passed_years  passed_months  day_name
0 1917-10-01  1917     10           105           1262    Monday
1 1818-09-27  1818      9           204           2451    Sunday
2 2007-07-07  2007      7            15            185  Saturday
3 1779-07-27  1779      7           243           2921   Tuesday
4 1927-09-20  1927      9            95           1143   Tuesday