In [24]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("../../data/titanic.csv")
df.head(10)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,"Moran, Mr. James",3,male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,"McCarthy, Mr. Timothy J",1,male,54.0,0,0,17463,51.8625,E46,S,0
7,8,"Palsson, Master. Gosta Leonard",3,male,2.0,3,1,349909,21.0750,NaN,S,0
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",3,female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",2,female,14.0,1,0,237736,30.0708,NaN,C,1

In [3]:
df=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1)

In [23]:
inputs=df.drop('Survived',axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [5]:
target=df.Survived

In [6]:
dummies=pd.get_dummies(inputs.Sex)

In [7]:
dummies.head(10)

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1
5       0     1
6       0     1
7       0     1
8       1     0
9       1     0

In [8]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(10)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1
5       3    male   NaN   8.4583       0     1
6       1    male  54.0  51.8625       0     1
7       3    male   2.0  21.0750       0     1
8       3  female  27.0  11.1333       1     0
9       2  female  14.0  30.0708       1     0

In [9]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)

In [10]:
inputs.head(10)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0
5       3   NaN   8.4583       0
6       1  54.0  51.8625       0
7       3   2.0  21.0750       0
8       3  27.0  11.1333       1
9       2  14.0  30.0708       1

In [11]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [12]:
inputs.Age[:7]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
Name: Age, dtype: float64

In [13]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())

In [14]:
inputs.Age[:7]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
Name: Age, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split
x_train,  x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.3)

In [16]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [17]:
model.fit(x_train,y_train)

GaussianNB()

In [18]:
model.score(x_test,y_test)

0.75

In [19]:
x_test[:10]

     Pclass   Age     Fare  female
606       3  30.0   7.8958       0
566       3  19.0   7.8958       0
887       1  19.0  30.0000       1
493       1  71.0  49.5042       0
151       1  22.0  66.6000       1
491       3  21.0   7.2500       0
587       1  60.0  79.2000       0
152       3  55.5   8.0500       0
642       3   2.0  27.9000       1
791       2  16.0  26.0000       0

In [20]:
y_test[:10]

606    0
566    0
887    1
493    0
151    1
491    0
587    1
152    0
642    0
791    0
Name: Survived, dtype: int64

In [21]:
model.predict(x_test[0:10])

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 0])

In [22]:
model.predict_proba(x_test[0:10])

array([[0.96744197, 0.03255803],
       [0.95475205, 0.04524795],
       [0.04160327, 0.95839673],
       [0.49185296, 0.50814704],
       [0.01794359, 0.98205641],
       [0.95799249, 0.04200751],
       [0.35010932, 0.64989068],
       [0.96211689, 0.03788311],
       [0.10958945, 0.89041055],
       [0.888817  , 0.111183  ]])